/* General Style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    display: flex;
    background-color: #333;
    padding: 1em;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav-signout {
    margin-left: auto;
}

/* CSS for login button alignment */
.navbar .nav-link:last-child {
    position: absolute;
    right: 10px;
    top: 10px;
}


.container {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

textarea, input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

.footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
